@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply lowercase;
}

::selection {
  @apply text-white bg-pink-600;
}

.marquee {
  --space: 4rem;
  --duration: 40s;
  --gap: var(--space);

  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

@media only screen and (max-width: 767px) {
  .marquee {
    --duration: 80s;
  }
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}

.marquee:hover .marquee__group {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - var(--gap) + 100vw));
  }
}

/* Underline */

.underline-custom:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.75s ease-in-out;
}

.underline-custom:hover:after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.25s ease-in-out;
}

.text-border {
  -webkit-text-stroke: 2px #fff;
}

.custom-cursor {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.loading-text {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 
  - setting up animation keyframe when the size increases on menu button toggle 
  - only to call use this classMethod, when the menu has to be open
*/
@keyframes increaseMenuButtonSizeAnimation {
  0% {
    @apply w-[120px];
  }
  50% {
    @apply w-[380px];
  }
  100% {
    @apply w-[420px];
  }
}

.increase-menu-button-size {
  animation: increaseMenuButtonSizeAnimation 0.3s;
  animation-fill-mode: forwards;
}

/* 
  - setting up animation keyframe when the size decreases on menu button toggle 
  - only to call use this classMethod, when the menu has to be closed
*/
@keyframes decreaseMenuButtonSizeAnimation {
  0% {
    @apply w-[420px];
  }
  50% {
    @apply w-[380px];
  }
  100% {
    @apply w-[120px];
  }
}

.decrease-menu-button-size {
  animation: decreaseMenuButtonSizeAnimation 0.3s;
  animation-fill-mode: backwards;
}