@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/public/fonts/OTF/Satoshi-Black.otf") format("opentype"),
    url("/public/fonts/OTF/Satoshi-BlackItalic.otf") format("opentype"),
    url("/public/fonts/OTF/Satoshi-Bold.otf") format("opentype"),
    url("/public/fonts/OTF/Satoshi-BoldItalic.otf") format("opentype"),
    url("/public/fonts/OTF/Satoshi-Italic.otf") format("opentype"),
    url("/public/fonts/OTF/Satoshi-Light.otf") format("opentype"),
    url("/public/fonts/OTF/Satoshi-LightItalic.otf") format("opentype"),
    url("/public/fonts/OTF/Satoshi-Medium.otf") format("opentype"),
    url("/public/fonts/OTF/Satoshi-MediumItalic.otf") format("opentype"),
    url("/public/fonts/OTF/Satoshi-Regular.otf") format("opentype");
}

body {
  text-transform: lowercase;


}


.marquee {
  --space: 4rem;
  --duration: 40s;
  --gap: var(--space);

  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);

}

@media only screen and (max-width: 767px) {
  .marquee {
    --duration: 80s;
  }
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - var(--gap) + 100vw));
  }
}


/* Underline */

.underline-custom:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.75s ease-in-out;
}

.underline-custom:hover:after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.25s ease-in-out;
}

.text-border {
  -webkit-text-stroke: 2px #fff;
}